In [1]:
import copy
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from modules import solver, presolver
from pyballistics import ozvb_lagrange, get_powder_names
from tqdm.notebook import tqdm, trange

## Нахождение начальных точек
формируется таблица с начальными точками для каждого пороха

In [9]:
tabel_init_points = pd.read_csv("data/init_points.csv")
tabel_init_points.loc[tabel_init_points['success']==False]

Empty DataFrame
Columns: [dbname, wq, ro, reason, success]
Index: []

## Решение обратной задачи

In [8]:
%%time

for i in trange(len(powders_names)):
    initial_dict = copy.deepcopy(initial_dict_static)
    initial_dict['powders'][0]['dbname'] = powders_names[i]
    initial_dict['powders'][0]['omega'] = wq_0*q
    initial_dict['init_conditions']['W_0'] = wq_0*q/ro_0
    try:
        solv = solver.Solver(initial_dict)
        solv.solution()
    except(ValueError, TypeError):
        optim_parametrs.append(None)
        continue
    else:
        optim_parametrs.append(solv.get_solution())

  0%|          | 0/102 [00:00<?, ?it/s]

Optimization terminated successfully.
         Current function value: 1894.776423
         Iterations: 71
         Function evaluations: 144
Optimization terminated successfully.
         Current function value: 239.039540
         Iterations: 92
         Function evaluations: 182
Optimization terminated successfully.
         Current function value: 199.246610
         Iterations: 96
         Function evaluations: 196
Optimization terminated successfully.
         Current function value: 231.983686
         Iterations: 91
         Function evaluations: 182
Optimization terminated successfully.
         Current function value: 185.500691
         Iterations: 101
         Function evaluations: 207
Optimization terminated successfully.
         Current function value: 362.998254
         Iterations: 102
         Function evaluations: 202
Optimization terminated successfully.
         Current function value: 379.987534
         Iterations: 68
         Function evaluations: 136
Optimization terminated successfully.
         Current function value: 368.336981
         Iterations: 63
         Function evaluations: 126
Optimization terminated successfully.
         Current function value: 139942.077750
         Iterations: 111
         Function evaluations: 275
Wall time: 13min 48s

__Выбор лучшего решения__

In [9]:
result = copy.deepcopy(optim_parametrs)

In [10]:
array = list()
for res in result:
    if res is None:
        continue
    elif res == {None}:
        continue
    else:
        array.append(res)

## Обработка

In [11]:
import pandas as pd

In [12]:
table = pd.DataFrame(array)

In [13]:
#table.to_csv("data/table2.csv", index=False)

In [16]:
table.head()

          name        wq          ro         mass
0          4/7  0.956494  594.686809  1894.776439
1         11/7  1.634952  693.167174   239.039543
2       8/1 тр  1.442006  602.864438   199.246615
3     12/7 В/А  1.667090  705.148344   231.983696
4  14/1 тр В/А  1.678386  629.876074   185.500693

In [17]:
table.sort_values(by='mass')

          name        wq          ro         mass
4  14/1 тр В/А  1.678386  629.876074   185.500693
8         УГ-2  1.547403   89.643090   197.902196
2       8/1 тр  1.442006  602.864438   199.246615
3     12/7 В/А  1.667090  705.148344   231.983696
1         11/7  1.634952  693.167174   239.039543
5      12/1 Тр  1.940916  577.530713   362.998255
7  15/1 тр В/А  1.963247  595.834038   368.337038
6    ДГ-4 13/1  1.964070  592.055712   379.987595
0          4/7  0.956494  594.686809  1894.776439